In [1]:
from sqlalchemy import create_engine
import pymysql 
import pandas as pd
cstring = 'mysql+pymysql://root:Billsin2020@localhost:3306/temperature'
con=create_engine(cstring)
df= pd.read_sql('select * from athens_uga_temp_2019 where ntemp>1 and ntemp<60 limit 100000',con=con)
df.head()

,id,busId,routeId,latitude,longitude,speed,heading,lastUpdateUnix,lastUpdate,temp,ntemp
0,147402074,3079,2608,33.945430,-83.371177,0,270,1573603695,2019-11-12 19:08:13,2.5,2.5
1,147402881,3079,2608,33.947610,-83.376278,17,270,1573603810,2019-11-12 19:10:09,2.5,2.5
2,147403061,3079,2608,33.948254,-83.376902,18,0,1573603820,2019-11-12 19:10:21,2.5,2.5
3,147403097,3079,2608,33.948254,-83.376902,18,0,1573603820,2019-11-12 19:10:21,2.5,2.5
4,147403133,3079,2608,33.948254,-83.376902,18,0,1573603820,2019-11-12 19:10:21,2.5,2.5

In [2]:
from keplergl import KeplerGl
map_1 = KeplerGl()
map_1

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl()

In [3]:
map_1.add_data(data=df,name='2019 temperatures in Athens')

<img src="Kepler.png"/>